.cardWrapper {
  composes: cardWrapper from "../../../App.module.css";
}

.bottomParagraph {
  composes: bottomParagraph from "../../../App.module.css";
}

.actionButtonWrap {
  composes: actionButtonWrap from "../../../App.module.css";
}
